body{
    background: rgb(43, 136, 243);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.397);
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#imagem {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}